.homepage-navbar {
  background-color: white;
  box-shadow: 0 0 5px gray;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.homepage-navbar-sticky {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  box-shadow: 0 0 5px gray;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.navbar-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8%;
  min-height: 50px;
  flex-wrap: nowrap;
  width: 100%;
}

.homepage-navbar a {
  text-decoration: none;
  color: black;
}

.homepage-navbar a:hover {
  color: brown;
}

.mobile-navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 90%;
  min-height: 50px;
}

@media only screen and (max-width: 768px) {
  .mobile-navbar {
    display: flex;
  }
  .navbar-link-container {
    display: none;
  }

  .homepage-navbar {
    display: none;
  }
  .navbar-placeholder {
    display: none;
  }
}
