.accordion-section {
  width: 100%; /* Take up the full width available to it */
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
  margin: 0 auto;
}

.accordion-header {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 20px;
}

.info-icon {
  color: #d5d9db;
  font-size: 25px;
}

.blip-header-container {
  display: flex;
  align-items: center;
}

.accordion-item {
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.accordion-item:hover {
  background-color: #f0f0f0;
}

.accordion-item-detail {
  display: none;
  padding: 10px;
  background-color: #eaeaea;
  margin-top: 10px;
  margin-left: 100px;
}

.accordion-item.active .accordion-item-detail {
  display: block;
}

.custom-collapse .ant-collapse-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-content: center !important;
  align-items: center !important;
  gap: 10px;
  padding: 18px 20px !important;
}

.custom-collapse .ant-collapse-expand-icon {
  padding: 0 !important;
  margin: 0 !important;
  color: orangered;
}

.custom-collapse .ant-collapse-expand-icon .ant-collapse-arrow {
  font-size: 18px !important;
}

.custom-collapse .ant-collapse-item {
  border-bottom: 1px solid #d5d9db !important;
  font-size: 1rem;
}

.custom-collapse .ant-collapse-item-active {
  background-color: #edf1f3;
}

.custom-collapse .ant-collapse-header:hover {
  background-color: #edf1f3;
}

.custom-collapse .ant-collapse-item-active .ant-collapse-header {
  border-bottom: 1px solid #d5d9db !important;
}
